# Brooklyn Rent And Income Of 5 Years Period (2010-2014) By Zip Codes

In [1]:
# special IPython command to prepare the notebook for matplotlib
# Render our plots inline
%matplotlib inline

%matplotlib inline 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#added this because it's indicated as useful but not imported
import urllib
from zipfile import ZipFile
from io import BytesIO
import os
import json
from bs4 import BeautifulSoup as bs
import re

from matplotlib import animation, rc
from IPython.display import display, HTML
import sys
import urllib
import urllib.request
from urllib.request import urlretrieve

pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2881: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

Reading Income file from data files

In [2]:
income_df = pd.read_csv('data/incomeDF.csv',keep_default_na=False, na_values=[""])

In [3]:
#income_df.head()

In [4]:
#income_df.drop(income_df.columns[0], axis=1, inplace=True)

In [5]:
income_df.head()

,Unnamed: 0,total,0,10,15,20,25,30,35,40,45,50,60,75,100,125,150,200,ZIP,year
0,2694,23254,1656,706,618,710,403,643,596,686,547,1303,1853,2929,1954,1456,2219,4975,11201,2011
1,2695,27145,2740,1244,1525,1486,1352,1158,1397,1453,1449,1876,2761,3418,2316,1410,994,566,11203,2011
2,2696,24979,1939,1920,1705,1564,1580,1373,1333,1223,1038,2025,2536,2655,1572,900,1043,573,11204,2011
3,2697,14033,2131,1017,874,866,659,614,488,570,324,889,1193,1255,1160,581,640,772,11205,2011
4,2698,27668,5551,2800,2612,1950,1551,1643,1079,1405,1172,1669,1675,1911,1170,753,478,249,11206,2011

In [6]:
# place the DataFrames side by side
#horizontal_stack = pd.concat([income_df, ], axis=1)